.app-container {
  align-items: center;
  background: linear-gradient(to right bottom, #34375a, #4f3e6a);
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
  flex: 1;
}
